name: Sync Master to Main

on:
  push:
    branches:
      - master

jobs:
  sync-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Force Push to Main
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git push origin master:main --force
